body {
    --global-background: #282c34;
    --light-background: #EFEFEF;
    --purple: #8619e4;
    /* margin-top: -16px; */
    color: white;
    background-color: var(--global-background);
}

a {
    text-decoration: none;
}

.main {
  text-align: center;
  background-color: #282c34;
  height: 100%;
  padding-bottom: 5vh;
}

.App-header #desktop {
  min-height: 8vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(0.5em + 1vmin);
  color: white;
  padding-left: 1vw;
  /* position: relative; */
}

#nav-checkbox {
	position: absolute;
	top: -100%;
	left: -100%;
	z-index: -1;
	opacity: 0;
}
.checkbox-label {
	--br: 0;
	--transform--before: translateY(-.9rem);
	--transform--after: translateY(.9rem);
	display: flex;
	width: 5.4rem;
	height: 5.4rem;
	border-radius: 100rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	cursor: pointer;
	transition: .4s;
}
.checkbox-label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	border-left: 1px solid var(--light-background);
	opacity: .2;
}

#nav-checkbox:hover+.checkbox-label, #nav-checkbox:focus+.checkbox-label {
	--color-1: var(--purple);
	--color-2: var(--purple);
}
.menu-line {
	width: 3rem;
	height: .2rem;
	background: var(--color-1, var(--light-background));
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s;
}
.menu-line::before, .menu-line::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
	background: var(--color-2, var(--light-background));
	transition: inherit;
}
.menu-line::before {
	width: var(--width, calc(100% / 2));
	transform: var(--transform--before);
}
.menu-line::after {
	width: var(--width, calc(100% / 3));
	transform: var(--transform--after);
}
#nav-checkbox:checked+.checkbox-label {
	--color-1: transparent;
	--width: 100%;
	--transform--before: rotate(calc(45deg));
	--transform--after: rotate(-45deg);
	left: 20rem;
}

/* Nav menu */

.nav {
	--o: 0;
	--ty: translateY(2rem);
	--tx: translateX(-6rem);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 19rem;
    width: 68%;
	height: 100%;
	visibility: hidden;
	background: var(--global-background);
	box-shadow: .4rem 0 2.4rem .2rem hsla(0, 0%, 0%, 0.2);
	transform: translateX(-100%);
	transition: .4s;
}
#nav-checkbox:checked~.nav {
	--o: 1;
	--ty: translateY(0);
	--tx: translateX(0);
	transform: translateX(0);
	visibility: visible;
}
nav #title {
	font-size: 3.2rem;
	font-weight: normal;
	opacity: var(--o);
	transform: var(--ty);
	transition: .3s .2s;
    margin-bottom: 0;
}
.nav__ul, .nav-links {
	width: 100%;
	margin: 4rem 0;
	list-style: none;
    margin: 0;
    padding: 0;
}
.nav__li, .nav-link {
	opacity: var(--o);
	transition: var(--n) .2s;
	transform: var(--tx);
	text-align: center;
	padding: 1rem 0;

	position: relative;
}
.nav__link, nav a {
	color: inherit;
	font-size: 1.6rem;
	transition: .4s;
    cursor: pointer;
}
.nav__link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	border-radius: .2rem;
	background: var(--global-background);
	opacity: 0;
	transition: inherit;
	transform: translateX(-1rem);
}
.nav__link:hover, .nav__link:focus {
	padding-left: .4rem;
	color: var(--light-2);
}
.nav__link:hover::before, .nav__link:focus::before {
	opacity: .4;
	transform: translateX(0);
}
.nav__copyright {
	font-size: 1.2rem;
	transform: var(--tx);
	transition: .3s .2s;
}

.dashboard .App-header, .login .App-header {
    background: linear-gradient(150deg,#53f 40%,#05d1ff 78%,var(--purple) 98%);
}

.content, .login, .signin {
    height: 92.6vh;
}

#fields {
    height: 92.6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--global-background);
}

#loginFields, #signupFields {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    justify-content: center;
    padding: 2%;
    background-color: var(--light-background);
    border-radius: 10px;
}

#loginFields div[type*="light"]:hover {
    box-shadow: var(--purple) 0px 2px 4px 0px !important;
}

#accountBox button {
    display: block;
    margin: auto;
    color: white;
}

.welcome {
    text-align: center;
}

.welcome img {
    width: 100px;
}

.welcome #content {
    position: relative;
    z-index: 2;
}

.App-header.big-header {
    height: 19vh;
    padding-left: 0;
}

#big-header {
    width: 100%;
    height: 60%;
    overflow: hidden;
    -webkit-transform: skewY(6deg);
    transform: skewY(6deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    background: linear-gradient(150deg,#53f 40%,#05d1ff 78%,var(--purple) 98%);
    position: absolute;
    top: -46vh;
}

.App-header.big-header #site-nav {
    justify-content: center;
}

.App-header button {
    margin-left: auto;
    margin-right: 1%;
    color: white;
}

#site-nav {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    width: 100%;
}

.pantry {
    display: flex;
    flex-direction: column;
}

.pantry-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

 .item {
    background: white;
    color: black;
    /* max-width: 45vw; */
    padding: 2%;
    width: 70%;
    min-width: 190px;
    /* font-size: smaller; */
}

.item>* {
    font-size: smaller;
}

.item .MuiTypography-h5 {
    font-size: 1.2rem;
}

.item .MuiCardHeader-root {
    padding: 0;
}

.item .MuiCardHeader-content {
    display: flex;
    justify-content: space-around;
}

.MuiCardActions-root {
    justify-content: flex-end;
}

.item .MuiCardContent-root {
    padding: 10px ;
}

.MuiCard-root {
    margin: auto;
}

.item .MuiCardActions-root {
    padding: 2px;
}

.item #content {
    display: flex;
    justify-content: space-around;
}

header a, header a:visited {
    color: white;
    text-decoration: none;
}

.signin {
    color: black;
}

a .MuiButton-contained:hover, button.MuiButton-contained:hover {
    background-color: var(--purple);
    color: white;
}

.hidden {
    display: none !important;
}

.up .svg-inline--fa {
    vertical-align: -0.425em;
}

.down .svg-inline--fa {
    vertical-align: 0.075em;
}

#pantry-items .MuiButton-textPrimary {
    color: var(--purple);
}

#pantry-items .MuiButton-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.26);
}

.add #addingContainer {
    width: 80%;
    margin: auto;
    padding: 1rem;
    background: var(--light-background);
    border-radius: 8px;
}

.add #addingContainer h2 {
    color: var(--global-background);
}

#addingContainer h3 {
    color: var(--global-background);
    margin: 0;
}

#addingContainer>div {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#addingContainer .MuiFormControl-root {
    margin-left: 8px;
    margin-right: 8px;
}

@media screen and (min-width: 30em) {
    #site-nav {
        margin-top: -8vh;
    }

    .App-header.big-header {
        height: 10vh;
        padding-top: 6vh;
    }

    #loginFields, #signupFields {
        width: 50vw;
        margin: 0 auto;
    }

    #pantry-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: auto;
    }

    .item {
        width: 17%;
        margin: 1%;
    }

    #mobile {
        display: none;
    }

    #desktop nav a {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 500px) {
    #desktop {
        display: none !important;
    }

    .App-header {
        padding-top: 5vh;
    }
}
