.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.5em + 1vmin);
  color: white;
}

.content, .login, .signin {
    height: 92.6vh;
}

#fields {
    height: 92.6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#loginFields, #signupFields {
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    justify-content: center;
    padding: 2%;
}
