$dark-grey: #282c34;
$cream: #efefef;
$purple: #8619e4;
#root {
  background-color: $dark-grey;
  color: $cream;
  min-height: 100vh;
  a {
    text-decoration: none;
  }
  .MuiTextField-root,
  .MuiFormControl-root {
    .MuiFormLabel-root,
    .MuiInputBase-root,
    .MuiTypography-colorTextSecondary,
    svg {
      color: $cream;
      &.Mui-focused {
        color: $purple;
      }
    }
    .MuiInput-underline:before {
      border-color: $cream;
    }
    .MuiInput-underline:after {
      border-color: $purple;
    }
  }
  .MuiCard-root {
    .MuiFormLabel-root,
    .MuiInputBase-root,
    .MuiTypography-colorTextSecondary,
    svg {
      color: $dark-grey;
    }
    .MuiInput-underline:before {
      border-color: $dark-grey;
    }
  }
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh 1fr;
  grid-template-areas: "header" "content";
}

.App-header {
  grid-area: header;
  #desktop {
    h1 {
      color: $dark-grey;
    }
    display: none;
    li {
      margin: 0 5px;
    }
    .MuiButton-root:hover {
      color: $purple;
      background-color: rgba(134, 25, 228, 0.14);
    }
  }
  #mobile {
    #nav-checkbox {
      position: absolute;
      top: -100%;
      left: -100%;
      z-index: -1;
      opacity: 0;
    }
    .checkbox-label {
      --br: 0;
      display: flex;
      width: 5.4rem;
      height: 5.4rem;
      border-radius: 100rem;
      position: absolute;
      top: 1rem;
      left: 1rem;
      cursor: pointer;
      transition: 500ms;
    }
    .checkbox-label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: inherit;
      height: inherit;
      border-left: 1px solid $cream;
      opacity: 0.2;
    }
    .menu-line {
      width: 3rem;
      height: 0.2rem;
      background: $purple;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 600ms, background-color 500ms, left 500ms;
    }
    .menu-line::before,
    .menu-line::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: inherit;
      background: $purple;
      transition: inherit;
    }
    .menu-line::before {
      width: calc(100% / 2);
      transform: translateY(-0.9rem);
    }
    .menu-line::after {
      width: calc(100% / 3);
      transform: translateY(0.9rem);
    }
    #nav-checkbox:checked {
      + .checkbox-label {
        left: 65%;
        .menu-line {
          background: transparent;
        }
        .menu-line::before {
          width: 100%;
          transform: rotate(calc(45deg));
        }
        .menu-line::after {
          width: 100%;
          transform: rotate(calc(-45deg));
        }
      }
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      min-height: 100vh;
      width: 48%;
      visibility: hidden;
      background: $dark-grey;
      color: $cream;
      padding: 0 1rem;
      box-shadow: 0.4rem 0 2.4rem 0.2rem hsla(0, 0%, 0%, 0.2);
      transform: translateX(-100%);
      transition: 500ms;
      #title {
        font-size: 3.2rem;
        color: $cream;
        opacity: 0;
        margin-bottom: 0;
      }
    }
    #nav-checkbox:checked ~ .nav {
      transform: translateX(0);
      visibility: visible;
      #title {
        opacity: 1;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        font-size: 1.6rem;
        transition: 0.4s;
        a,
        button {
          font-size: 1.6rem;
          transition: 0.4s;
          color: $cream;
        }
      }
    }
    .nav__copyright {
      font-size: 0.9rem;
      transform: var(--tx);
      transition: 0.3s 0.2s;
    }
  }
}
.content {
  margin-top: -5vh;
  grid-area: content;
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  > div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.pantry {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .up svg {
    transform: translateY(25%);
  }
  #pantry-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    .item {
      min-width: 190px;
      padding: 2%;
      margin: 1.4%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      > * {
        font-size: smaller;
      }
      .MuiTypography-h5 {
        font-size: 1.2rem;
        max-width: 175px;
      }
      .MuiCardHeader-root {
        padding: 0;
        .MuiCardHeader-content {
          display: flex;
          justify-content: space-around;
          align-items: baseline;
        }
      }
      #content {
        display: flex;
        justify-content: space-around;

        .MuiCardContent-root {
          padding: 10px;
        }
        .MuiCardActions-root {
          padding: 2px;
          justify-content: flex-end;
          .MuiButton-textPrimary:not(.Mui-disabled) {
            color: $purple;
          }
          .MuiButton-textPrimary:hover {
            background-color: rgba(134, 25, 228, 0.14);
          }
        }
        .MuiFormControl-root {
          max-width: 85px;
        }
      }
    }
  }
}

#profile {
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.admin {
  .MuiDrawer-paper {
    top: unset;
  }
  .MuiDrawer-root {
    display: none;
  }
  .MuiBottomNavigation-root {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  h2 {
    text-align: center;
  }
}

.add {
  #single,
  #case {
    margin: 12px 0;
    h3 {
      margin: 8px 0;
    }
  }
}

#textfields {
  width: 100%;
  display: flex;
  flex-direction: column;
  .MuiFormControl-marginNormal {
    margin-top: 10px;
  }
}

.bank {
  width: 100%;
  #move,
  #update {
    padding: 20px 0;
  }
}

.welcome {
  padding: 2%;
  text-align: center;
  img {
    width: 100px;
  }
  #snaky {
    height: 150px;
  }
}

#snaky {
  path,
  line {
    stroke-miterlimit: 10;
    stroke-linecap: round;
  }
  .white {
    fill: white;
    stroke: white;
    stroke-width: 74px;
  }
  #blue path {
    fill: #08d0ff;
  }
  #faceGroup,
  #glasses {
    path,
    line,
    circle {
      stroke-width: 25.18px;
      stroke: black;
    }
    path,
    line {
      fill: none;
    }
    circle {
      fill: white;
    }
  }
  #black-outline {
    path:not(:last-child),
    g path {
      stroke: black;
      fill: none;
    }
    #inner {
      stroke-width: 22px;
    }
    > path {
      stroke-width: 37.49px;
    }
    > path:not(:first-child):not(:last-child) {
      stroke-width: 46.65px;
    }
  }
  #top {
    > path {
      fill: white;
      stroke-width: 17.21px;
    }
    g path:last-child {
      fill: none;
      stroke-width: 16px;
    }
    path {
      stroke: black;
    }
  }
}

.allWobble {
  animation: shakeTwo 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  backface-visibility: hidden;
  perspective: 1000px;
  transform-origin: 547.104px 212.299px;
}

@keyframes shakeTwo {
  10%,
  90% {
    transform: rotate(5deg);
  }

  20%,
  80% {
    transform: rotate(7deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  40%,
  60% {
    transform: rotate(5deg);
  }
}

.face:hover {
  animation: shake 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -2px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 3px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -5px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 5px, 0);
  }
}

.login {
  min-height: 100vh;
  #fields {
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
    #signupFields,
    #loginFields {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    #accountBox {
      button {
        color: white;
      }
    }
  }
}

.loading {
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  background-color: $dark-grey;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #snaky {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .App-header {
    #desktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1%;
      background-color: $cream;
      height: 100%;
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    #mobile {
      display: none;
    }
  }
  .content {
    margin-top: unset;
  }
  .pantry {
    #pantry-items {
      flex-direction: row;
      flex-wrap: wrap;
      margin: 10px 0;
      .item {
        min-width: 220px;
        margin: 1%;
      }
    }
  }
  .admin {
    margin-left: 170px;
    .MuiDrawer-root {
      display: block;
    }
    .MuiBottomNavigation-root {
      display: none;
    }
  }
  .add {
    #single,
    #case {
      margin: 12px 0;
    }
  }
  #textfields {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .bank {
    .MuiFormControl-root {
      min-width: 150px;
    }
  }
  .welcome #snaky {
    height: 300px;
  }
  .login {
    #fields {
      #signupFields,
      #loginFields {
        width: 40%;
      }
    }
  }
}

.hidden {
  display: none !important;
}
